.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.color-box {
  margin: 20px 0px 0px 15px;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}
